body {
  font-family: "Lato", sans-serif;
  background-color: #1b262c;
  color: white;
}

.anime-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* more info buttons */
.more-info-expand,
.more-info-expand:link,
.more-info-expand:visited {
  cursor: pointer;
  color: #d01212;
  /* fix positioning so it's inline with name/badges */
  position: relative;
  top: 2px;
}

/* remove h6 padding from anime rows */
.anime-row h6 {
  margin-bottom: 0px;
}

/* more info hover (darkened) color */
.more-info-expand:hover,
.more-info-expand:active {
  color: #560808;
}

/* increase space between cc and other badges */
/* .circular-buttons-container {
  margin-top: 5px;
} */

/* button sizes*/
.circular-buttons-container img {
  margin: 4px 4px 4px 4px;
  height: 50px;
  width: auto;
  filter: saturate(70%);
}

.circular-buttons-container a {
  float: right !important;
  position: relative;
  display: inline-block;
}

.tag {
  background-color: lightgrey;
  color: black;
  margin-left: 0.5em;
  white-space: nowrap;
}

/* CC (closed captioning) indicators on YT videos */
span.badge.cc {
  position: absolute;
  background: darkgrey;
  color: white;
  font-size: 0.8rem;

  /* put in top right */
  top: -4px;
  right: -1px;
}

.time {
  text-rendering: auto; /* chrome compliance for small-caps font */
  font-variant: small-caps;
}

/* ? mark size */
.ordernote {
  font-size: 130%;
}

/* odd/even color */
div#main-container > div.anime-row-container:nth-child(odd) > div.anime-row {
  background-color: #f5f5f5;
}

.footer {
  color: white;
  width: 100%;
}

footer:hover {
  cursor: pointer;
  background-color: #1f2225 !important;
}

#note {
  background-color: #444;
  color: white;
}

/* make sure list items are below footer */
.list-group-item,
.list-group-item:hover {
  z-index: auto;
}

main#main-container {
  padding-bottom: 4rem;
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-nav.nav-pills .nav-item:hover {
  background-color: #686868;
}

.badge.badge-info {
  margin-left: 5px;
}
