body {
  font-family: "Lato", sans-serif;
  background-color: #1b262c;
  color: white;
}

.image-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.person-link {
  margin-left: 0.5em;
  white-space: nowrap;
  font-size: 100%;
  text-rendering: auto; /* chrome compliance for small-caps font */
  font-variant: small-caps;
}
.card {
  background-color: #1c1c1c;
}
.card-text {
  margin-bottom: 0.5rem !important;
}

@media (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

#note {
  background-color: #444;
  color: white;
}

.moveup {
  position: relative;
  top: -0.1rem;
}

.footer {
  color: white;
  width: 100%;
}

footer:hover {
  cursor: pointer;
  background-color: #1f2225 !important;
}

footer a, footer a:hover footer a:active, footer a:visited {
  color: white;
}

main.container {
  padding-bottom: 4rem;
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-nav.nav-pills .nav-item:hover {
  background-color: #686868;
}
