<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      AnimeShorts
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.1.0-dist/css/bootstrap.min.css')}}">
    <!-- jQuery -->
    <script src="{{url_for('static', filename='jquery-3.3.1.slim.min.js')}}"></script>
    <style>body {
  font-family: 'Lato', sans-serif;
}

.image-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.person-link {
  margin-left: .5em;
  white-space: nowrap;
  font-size: 100%;
  text-rendering: auto; /* chrome compliance for small-caps font */
  font-variant: small-caps;
}

.card-text {
  margin-bottom: .5rem !important;
}

@media (max-width:576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width:576px) and (max-width:768px) {
    .card-columns {
      column-count: 2;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .card-columns {
      column-count: 3;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .card-columns {
      column-count: 4;
    }
}
@media (min-width:1200px) {
    .card-columns {
      column-count: 5;
    }
}

#note {
    background-color: lightgrey;
}

.moveup {
    position: relative;
    top: -0.1rem;

}

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer:hover {
  cursor: pointer;
  background-color: #1f2225!important;
}

main.container {
  padding-bottom: 4rem;
}

</style>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_navbar_target">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-nowrap mr-3 my-2" href="/">
        
    Anime Shorts
  
      </a>
      <div class="collapse navbar-collapse" id="collapse_navbar_target">
        <ul class="navbar-nav nav-pills dark-blue">
          <li class="nav-item">
            <a class="nav-link px-2" style="" href="/">
              
          List
        
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-2" style="background-color: #385289;" href="/people">
              
          People
        
            </a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item py-1">
            <a class="mx-2" href="/cookies" style="font-variant: small-caps; color: white; position: relative; top: 0.1rem;">
              
          cookie policy
        
            </a>
            <a href="https://github.com/purplepinapples/animeshorts" class="ml-1">
              <img src="{{url_for('static', filename='images/GitHub-Mark-Light-64px.png')}}" alt="Source on Github" style="max-height: 32px; width: auto;" />
            </a>
          </li>
        </ul>
      </div>
      <form style="display: none;" id="choiceform" method="get" action="/">
        <input type="hidden" id="sort" name="sort" />
      </form>
    </nav>
    <!-- note -->
    <div class="container rounded-bottom py-3 mb-2" id="note">
      <p class="text-center mb-0">
        People I feel are worth checking out:
      </p>
    </div>
    <!-- list -->
    <main class="container">
      <div class="card-columns">
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/tezuka.png')}}" alt="Osamu Tezuka" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Osamu Tezuka
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/1938">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://tezukaosamu.net/en/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/kouji.jpg')}}" alt="Kouji Morimoto" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kouji Morimoto
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/5066">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:92.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/koji.jpg')}}" alt="Koji Yamamura" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Koji Yamamura
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/6065">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/mizue.png')}}" alt="Mirai Mizue" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Mirai Mizue
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/23325">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/onohana.jpg')}}" alt="Onohana" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Onohana
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/41796">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="https://www.onohana.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/tanaami.jpg')}}" alt="Tanaami Keiichi" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Tanaami Keiichi
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/28807">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:78.22222222222223%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/noburou.jpg')}}" alt="Oofuji Noburou" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Oofuji Noburou
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/36897">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/takashi.jpg')}}" alt="Takashi Taniguchi" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Takashi Taniguchi
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/41284">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/yoriko.jpg')}}" alt="Yoriko Mizushiri" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Yoriko Mizushiri
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/36107">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/ryosiro.png')}}" alt="Ryosuke Oshiro" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Ryosuke Oshiro
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/48842">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="https://vimeo.com/user12253813">
                <span class="moveup">
                  vimeo
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/hiroka.jpg')}}" alt="Masanobu Hiroka" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Masanobu Hiroka
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/40575">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/rapparu.png')}}" alt="Rapparu" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Rapparu
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/40135">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://www.rapparu.org/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:96.81818181818181%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/wada.jpg')}}" alt="Atsushi Wada" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Atsushi Wada
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/24949">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://kankaku.jp/en-index.html">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/kubo.jpg')}}" alt="Yutaro Kubo" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Yutaro Kubo
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/36803">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="https://vimeo.com/yutarokubo">
                <span class="moveup">
                  vimeo
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://yutarokubo.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:144.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/yoji.jpg')}}" alt="Yoji Kuri" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Yoji Kuri
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/8545">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/rabbit.png')}}" alt="Rabbit MACHINE" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Rabbit MACHINE
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/35803">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://www.rabbit-machine.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/asami.jpg')}}" alt="Asami Ike" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Asami Ike
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/40633">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://www.liltasm.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:104.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/kojirou.jpg')}}" alt="Kojirou Shishido" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kojirou Shishido
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/6133">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:56.25%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/TOCHKA.jpg')}}" alt="TOCHKA" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              TOCHKA
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://tochka.jp/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:140.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/sugimoto.jpg')}}" alt="Kousuke Sugimoto" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kousuke Sugimoto
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/10541">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://sugimotokousuke.net/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/nagao.jpg')}}" alt="Takena Nagao" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Takena Nagao
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/14009">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:157.47663551401868%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/kabuki.jpg')}}" alt="Sawako Kabuki" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Sawako Kabuki
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/42897">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/okuda.jpg')}}" alt="Masaki Okuda" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Masaki Okuda
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/36804">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="https://vimeo.com/user15836262">
                <span class="moveup">
                  vimeo
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://masakiokuda.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:115.99999999999999%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/sato.jpg')}}" alt="Miyo Sato" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Miyo Sato
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/44026">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://satomiyo.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.75187969924812%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/okamoto.jpg')}}" alt="Tadanari Okamoto" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Tadanari Okamoto
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/12441">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:157.65765765765767%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/ryu.jpg')}}" alt="Kato Ryu" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kato Ryu
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/23623">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://ryukato.net/index.html">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:124.8888888888889%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/furukawa.jpg')}}" alt="Taku Furukawa" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Taku Furukawa
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/30611">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:72.06477732793523%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/ito.jpg')}}" alt="Itou Takashi" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Itou Takashi
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://www.imageforum.co.jp/ito/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/hotchi.jpg')}}" alt="Kazuhiro Hotchi" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kazuhiro Hotchi
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/16459">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://hotchi.main.jp/HOME/animation/index.html">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:124.8888888888889%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/naoyuki.jpg')}}" alt="Tsuji Naoyuki" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Tsuji Naoyuki
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/10917">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:86.22222222222223%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/shiroki.jpg')}}" alt="Saori Shiroki" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Saori Shiroki
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/33543">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/keita.jpg')}}" alt="Kurosaka Keita" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kurosaka Keita
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/18261">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/yoshiura.jpg')}}" alt="Yasuhiro Yoshiura" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Yasuhiro Yoshiura
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/6072">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:156.25%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/oyama.jpg')}}" alt="Kei Oyama" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kei Oyama
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/36665">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/komazaki.jpg')}}" alt="Tomomi Komazaki" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Tomomi Komazaki
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/39308">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:100.0%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/kojo.png')}}" alt="Kojo Tanno" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Kojo Tanno
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://tannokojo.com/">
                <span class="moveup">
                  website
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="https://www.youtube.com/user/tannokojo">
                <span class="moveup">
                  youtube
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:155.55555555555557%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/masaoka.jpg')}}" alt="Masaoka Kenzou" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Masaoka Kenzou
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/9084">
                <span class="moveup">
                  mal
                </span>
              </a>
              <a class="badge badge-pill person-link badge-secondary movetext" href="http://www.hirabayashiisamu.com/">
                <span class="moveup">
                  website
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image-container" style="padding-bottom:133.33333333333331%;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='images/people/hirabayashi.jpg')}}" alt="Isamu Hirabayashi" />
          </div>
          <div class="card-block">
            <h4 class="card-title">
              Isamu Hirabayashi
            </h4>
            <div class="card-text">
              <a class="badge badge-pill person-link badge-secondary" href="https://myanimelist.net/people/35325">
                <span class="moveup">
                  mal
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer class="bg-dark footer">
      <div class="container center">
        <div class="row justify-content-center py-2">
          <p class="mb-0">
            © PurplePinapples
          </p>
        </div>
      </div>
      <a class="d-none" href="https://myanimelist.net/profile/purplepinapples"></a>
    </footer>
    <!-- javascript/popper.js -->
    <script src="{{url_for('static', filename='bootstrap-4.1.0-dist/js/bootstrap.bundle.min.js')}}"></script>
    <script>
// runs when document is loaded:
document.addEventListener('DOMContentLoaded', function() {

  // footer onclick
  let footer = document.querySelector("footer.footer");
  footer.onmouseup = function(a) { // when mouse is released
    if (a.ctrlKey || a.metaKey || a.which == 2) {
      a.preventDefault(); // prevent middle click from opening tab, so it doesnt open twice.
      window.open($(footer).find('a').attr("href"));
    } else {
      window.location = $(footer).find('a').attr("href");
    }
  }

  }, false);
</script>
  </body>
</html>